.centered-part {
    width: 35%;
    font-family: "Roboto Mono", monospace;
    /* max-width: 960px; */
    margin: auto;
    text-align: center;
    display: table;
}

#main-icon {
    /*margin: left;
    */width: 60px;
    height: 60px;
    display: inline;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#main-icon-text {
    font-family: "Roboto Mono", monospace;
    display: inline;
    vertical-align: top;
    margin-left: 10px;
}

#login-text {
    font-size: 30px;
    margin-bottom: -5px;
}

a {
    color: black;
}

#github-btn {
    margin-top: 35px;
    width: 100%;
    height: 40px;
    background: white;
    border: 1px solid rgb(197, 197, 197);
    font-family: "Roboto Mono", monospace;

    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

#github-btn:hover{
    background: rgb(227, 227, 227);
}

.hr-text {
    margin-top: 25px;
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.hr-text:after {
    background: #fff;
    content: "or";
    padding: 0 4px;
    position: relative;
    top: -13px;
}
.textfield {
    width: 100%;
    background: rgb(218, 217, 217);
    height: 35px;
    border: none;


    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.input-text {
    text-align: left;
    font-size: 14px;
}

#login-btn {
    margin-top: 20px;
    width: 100%;
    color:white;
    background:black;
    height: 40px;
    font-family: "Roboto Mono", monospace;
    border-radius: 26px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
}

#login-btn:hover {
    background: rgb(90, 90, 90)
}

#reset-pwd-link {
    padding-top: 15px;
    font-size: 11px;
}

#link:hover{
    color: rgb(161, 161, 161);
}